<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oss_menu_module">

    <select id="selectByModuleIds" parameterType="java.util.List" resultMap="BaseResultMap">
        <include refid="oss_menu_module.SELECT_All_Column"/>
        FROM oss_menu_module
        WHERE module_id IN (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
        )
        ORDER BY order_by,module_id
    </select>

</mapper>