<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013 Raycloud.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration scan="true" scanPeriod="30 seconds">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/envelope-oss.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/envelope-oss.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- project default level -->
    <logger name="org.craigq.quartz.intercept.TaskInterceptor" level="WARN"/>
    <logger name="org.quartz.core.JobRunShell" level="WARN"/>
    <logger name="org.quartz.utils.UpdateChecker" level="WARN"/>
    <logger name="org.apache.http.wire" level="WARN"/>
    <logger name="org.springframework.aop.framework" level="WARN"/>
    <logger name="org.springframework.beans.factory" level="WARN"/>
    <logger name="org.apache.http.impl.conn" level="WARN"/>


    <logger name="org.springframework.web.servlet" level="INFO"/>
    <logger name="httpHeaderLogger" level="WARN"/>


    <root level="INFO">
        <appender-ref ref="rollingFile"/>
    </root>

    <!--正式发布环境, 把以下logger注释掉-->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>

